:root {
  --color-50: #ffffff;
  --color-100: #efefef;
  --color-200: #dcdcdc;
  --color-300: #bdbdbd;
  --color-400: #989898;
  --color-500: #7c7c7c;
  --color-600: #656565;
  --color-700: #525252;
  --color-800: #464646;
  --color-900: #3d3d3d;
  --color-950: #292929;

  --color-icon-1: #3498db; /* Azul */
  --color-icon-2: #2ecc71; /* Verde esmeralda */
  --color-icon-3: #9b59b6; /* Morado */
  --color-icon-4: #e74c3c; /* Rojo coral */
  --color-icon-5: #27ae60; /* Verde esmeralda oscuro */
  --color-icon-6: #8e44ad; /* Violeta oscuro */
  --color-icon-7: #e67e22; /* Naranja */
  --color-icon-8: #33e517; /* Rojo oscuro */

  color-scheme: dark;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
