:root {
  --color-50: #ffffff;
  --color-100: #efefef;
  --color-200: #dcdcdc;
  --color-300: #bdbdbd;
  --color-400: #989898;
  --color-500: #7c7c7c;
  --color-600: #656565;
  --color-700: #525252;
  --color-800: #464646;
  --color-900: #3d3d3d;
  --color-950: #292929;

  color-scheme: light;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
