.main {
  min-height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding-top: 2em;
  background: #585858;
}

.banner {
  width: 90%;
  margin-left: 5%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.centerBanner {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
}

.partText {
  flex-basis: 400px;
  flex-grow: 1;
  padding: 20px;
  display: grid;
  place-content: center;
}

.subPartText {
  display: flex;
  flex-direction: column;
  color: #404040;
}

.subSloganBanner {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(1rem, 1vw + 1.8rem, 3rem);
  line-height: 1.25em;
  color: var(--color-50);
  font-weight: 600;
}

.slogan {
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 1em;
  font-weight: 200;
  color: var(--color-50);
}

.partImg {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.imgMount {
  width: 90%;
  height: auto;
  /* filter: drop-shadow(5px 5px 5px #666666); */
} 


@media screen and (max-width: 900px) {
  .banner {
    flex-direction: column-reverse;
  }

  .imgWhiteScreen {
    width: 100vw;
  }

  .subSlogan {
    font-size: clamp(1rem, 1vw + 1rem, 3rem);
  }
}

.boxBtn {
  display: flex;
  flex-direction: row;
}

.btnVisit {
  padding: 10px 20px 10px 20px;
  background: teal;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border-radius: 1em;
  gap: 2px;
  /* font-family: "Poppins", sans-serif; */
  /* box-shadow: 0px 10px 15px -3px #d1d1d1; */
}

.boxIcon {
  display: grid;
  place-content: center;
}

.btnVisit:hover {
  gap: 5px;
}

.mainInfoServices {
  /* min-height: 100vh; */
  margin-top: 2em;
  margin-bottom: 5em;
}

.titleServices {
  font-size: clamp(1rem, 3.4783vw + 0.3043rem, 3rem);
  line-height: 1.25em;
  text-align: center;
  margin-bottom: 2em;
  font-weight: 500;
  width: 90%;
  margin-left: 5%;
}

.pasarellServices {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.boxservice {
  flex-basis: 300px;
  flex-grow: 1;
  display: grid;
  place-content: center;
  background: #f1f1f1;
  border: 1px solid #cbcbcb;
  border-radius: 1em;
}

.centerBoxServices {
  padding: 10px;
  position: relative;
}

.boxservice:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  scale: 1.01;
}

.boxImageServ {
  display: grid;
  place-content: center;
}

.iconService {
  filter: drop-shadow(5px 5px 5px #c1c1c1);
  padding-top: 1em;
  color: #afafaf;
}

.titleServiceBox {
  display: grid;
  place-content: center;
  margin-top: 1em;
  color: #000000;
  font-weight: 500;
}

.contReadMore {
  display: grid;
  place-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btnReadMore {
  padding: 5px 10px 5px 10px;
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  /* background: #a4a4a4; */
  border-radius: 1em;
  color: #7474ff;
  font-weight: 500;
}

/* .btnReadMore:hover {
  background: #777777;
} */

.explainService {
  padding: 60px 40px 20px 30px;
  position: relative;
  text-align: center;
}

.tecnologies {
  margin-top: 3em;
  min-height: 100vh;
}

.containerLengs {
  display: grid;
  place-content: center;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3em;
}

.centerLengs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.centerLengs {
  display: flex;
  flex-wrap: wrap;
}

.explainLeg {
  flex-basis: 200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 25px 20px 25px;
  background: #f1f1f1;
  border-radius: 1em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 1em;
}

.tecnologies {
  margin-bottom: 1em;
}

.nameLeng {
  font-size: 20px;
  display: grid;
  place-content: center;
}

.boxHeaderImg {
  display: grid;
  place-content: center;
}

.imgLogo {
  width: 40px;
  height: auto;
  filter: drop-shadow(5px 5px 5px #666666);
}

.imgLogodb {
  width: 20px;
  height: auto;
}

.proyectsContainer {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}

.boxImageProyect {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.imgProyect {
  width: 300px;
  height: auto;
  filter: drop-shadow(5px 5px 5px #666666);
  border-radius: 1em;
}

.boxInfoPage {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.titlerealTime {
  font-weight: 500;
}

.tileLiveProcess {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxIconLive {
  display: grid;
  place-content: center;
}

.iconLive {
  width: 30px;
  height: auto;
}

.titlerealTime {
  display: grid;
  place-content: center;
  font-size: 30px;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes scroll {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 2));
    transform: translateX(calc(-200px * 1));
  }
  100% {
    -webkit-transform: translateX(calc(200px * 2));
    transform: translateX(calc(200px * 1));
  }
}
